<nav>
  <div class="buttonContainer">
    <button ng-click="cancel()" class="mainButton center">cancel</button>
  </div>
</nav>

<div class="infoContainer">

  <label for="recipeName">Recipe Name:</label>
  <input ng-model="recipeName" id="recipeName" name="recipeName" type="text">
  <label for="imageUrl">Image URL:</label>
  <input ng-model="imageUrl" id="imageUrl" name="imageUrl" type="text">

  <div class="thing">
    <label for="ingredientName">Ingredient Name:</label>
    <input ng-model="ingredientName" id="ingredientName" name="ingredientName" type="text">
    <label for="quantity">Quantity:</label>
    <input ng-model="quantity" id="quantity" name="quantity" type="text">
    <select ng-model="section" name="awesome" id="sectionDropDown">
      <option value="Produce">Produce</option>
      <option value="Meat">Meat</option>
      <option value="Dairy">Dairy</option>
      <option value="Frozen Foods">Frozen Foods</option>
      <option value="Snacks">Snacks</option>
      <option value="Other">Other</option>
    </select>
    <button ng-click="saveIngredient()">Save</button>
  </div>

</div>

<div class="ingredientsSection">
  <div ng-repeat="section in getSections()">
    <h3 class="section">{{ section | lowercase }}:</h3>
    <div ng-repeat="ingredient in getIngredients(section)">
      <p ng-click="removeIngredient(ingredient)">
        {{ ingredient.name | lowercase }} - {{ ingredient.quantity }}
      </p>
    </div>
  </div>
</div>

<nav>
  <div class="buttonContainer">
    <button class="mainButton center" ng-click="saveRecipe()">Save Recipe</button>
  </div>
</nav>